<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
  <%- include('./partials/head') %>
  <style>
    table {
      width: 100%;
    }

    .sticky-header {
      position: sticky;
      top: 0;
      color: blue;
      font-weight: bolder;
      z-index: 1;
    }

    tbody {
      max-height: 400px;
      overflow-y: auto;
    }

    .table-row {
      transition: background-color 0.3s;
    }

    .table-row:hover {
      background-color: #c8d5ed;
    }

    .no-data-row {
      background-color: #f0f0f0;
      /* Màu nền của dòng "Không có dữ liệu hiển thị" */
    }
  </style>

</head>

<body>
  <div class="preloader">
    <div class="lds-ripple">
      <div class="lds-pos"></div>
      <div class="lds-pos"></div>
    </div>
  </div>
  <div id="main-wrapper" data-layout="vertical">
    <header class="topbar" data-navbarbg="skin5">
      <%- include('./partials/header') %>
    </header>
    <aside class="left-sidebar" data-sidebarbg="skin5">
      <div class="scroll-sidebar">
        <%-include('./partials/sidebar') %>
      </div>
    </aside>
    <div class="page-wrapper" style="background-color: white;">
      <div class="page-breadcrumb">
        <div class="row">
          <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Danh sách tổng hợp thông tin người được trả thuế</h4>
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <table class="table table-bordered ">
          <thead class="sticky-header " style="text-align: center; background-color: #2886d3">
            <th style="font-weight: bolder; color: white;"> STT </th>
            <th style="font-weight: bolder; color: white;"> Họ và tên NNT </th>
            <th style="font-weight: bolder; color: white;"> Mã số thuế </th>
            <th style="font-weight: bolder; color: white;"> Địa chỉ </th>
            <th style="font-weight: bolder; color: white;"> Email </th>
            <th style="font-weight: bolder; color: white;"> Điện thoại </th>
            <th style="font-weight: bolder; color: white;"> Năm kê khai </th>
            <th style="font-weight: bolder; color: white;"> Loại tờ khai </th>
            <th style="font-weight: bolder; color: white;"> Phụ lục </th>
            <th style="font-weight: bolder; color: white;"> Hoàn trả thuế </th>
            <th style="font-weight: bolder; color: white;" class="status-cell"> Trạng thái tờ khai </th>
            <th>Ngày tạo</th>
            <th style="font-weight: bolder; color: white;"> Hành động </th>
          </thead>
          <tbody>
            <% let totalIndex = 0; %>

            <% tokhaithue.items.forEach((tokhaithue, index) => { %>

            <tr class="table-row" style="text-align: center;">
              <td><%= index + 1 %></td>
              <td><%= tokhaithue.fullname %></td>
              <td><%= tokhaithue.ca_nhan.masothue %></td>
              <td><%= tokhaithue.address %></td>
              <td><%= tokhaithue.ca_nhan.email %></td>
              <td><%= tokhaithue.ca_nhan.phone %></td>
              <td ><%= tokhaithue.namkekhai %></td>
              <td><%= tokhaithue.loai_to_khai.tenloai %></td>
              <td><a href="/phu-luc-to-khai/<%= tokhaithue.id %>">Xem</a></td>
              <td><a href="/hoan-tra-thue/<%= tokhaithue.id %>">Xem</a></td>
              <td class="status-cell">
                <% if (tokhaithue.trang_thai_xu_li.tentrangthai === 'đã duyệt') { %>
                <span class="check-mark" style="color: green; font-size: 2em;">&#10004;</span>
                <% } else if (tokhaithue.trang_thai_xu_li.tentrangthai === 'không được duyệt') { %>
                <span class="cross-mark" style="color: red; font-size: 2em;">&#10008;</span>
                <% } else { %>
                <%= tokhaithue.trang_thai_xu_li.tentrangthai%>
                <% } %>
              </td>
<td><%= tokhaithue.createdAt.toLocaleString() %></td>
              <td>
                <a href="#" class="edit-user" data-toggle="modal" data-target="#editModal" data-id="<%= tokhaithue.id %>">
                  <i class="fa fa-pencil"></i>
                </a>
              </td>

            </tr>
            <% totalIndex++; %>
            <% }) %>
            <% if (totalIndex === 0) { %>
            <tr class="no-data-row" style="text-align: center; background-color: white; font-size: 16px; font-weight: bold;">
              <td colspan="12">Không có dữ liệu tờ khai</td>
            </tr>
            <% } %>

            <div class="input-group justify-content-between">
              <h5>Tổng cộng: <%= totalIndex %></h5>
              <select id="filterStatus" class=" col-sm-3 form-select" style="margin-bottom: 5px;">
                <option value="all">Tất cả</option>
                <option value="đã duyệt">Đã duyệt</option>
                <option value="đang chờ duyệt">Đang chờ duyệt</option>
                <option value="không được duyệt">Không được duyệt</option>
              </select>
            </div>
          </tbody>
        </table>

        <div class="pagination">
          <ul class="pagination">
            <% for(let i = 1; i <= tokhaithue.totalPages; i++) { %>
            <li class="page-item <% if (i === tokhaithue.currentPage) { %> active <% } %>">
              <a class="page-link" href="/duyet-to-khai?page=<%= i %>"><%= i %></a>
            </li>
            <% } %>
          </ul>
        </div>

      </div>
      <%- include('check_tokhai') %>
    </div>
  </div>
</body>

<script src="js/check_tokhai.js"></script>
<script src="js/index.js"></script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const filterStatus = document.getElementById('filterStatus');
    const tableRows = document.querySelectorAll('table tbody tr');

    filterStatus.addEventListener('change', function() {
      const selectedStatus = filterStatus.value;
      let dataFound = false;

      tableRows.forEach(row => {
        const statusCell = row.querySelector('.status-cell');
        const icon = statusCell.querySelector('span');
        let statusText;
        if (icon) {
          if (icon.classList.contains('check-mark')) {
            statusText = 'đã duyệt';
          } else if (icon.classList.contains('cross-mark')) {
            statusText = 'không được duyệt';
          }
        } else {
          statusText = statusCell.textContent.trim();
        }

        if (selectedStatus === 'all' || statusText === selectedStatus) {
          row.style.display = '';
          dataFound = true;
        } else {
          row.style.display = 'none';
        }
      });

    });


  });
</script>

</html>