<!-- list_tochuc_tre_han.ejs -->

<!DOCTYPE html>
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <%- include('./partials/head') %>
</head>

<body>
  <div class="preloader">
    <div class="lds-ripple">
      <div class="lds-pos"></div>
      <div class="lds-pos"></div>
    </div>
  </div>
  <div id="main-wrapper" data-layout="vertical">
    <header class="topbar" data-navbarbg="skin5">
      <%- include('./partials/header') %>
    </header>
    <aside class="left-sidebar" data-sidebarbg="skin5">
      <div class="scroll-sidebar">
        <%-include('./partials/sidebar') %>
      </div>
    </aside>
    <div class="page-wrapper" style="background-color: white;">
      <div class="page-breadcrumb">
        <div class="row">
          <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Danh sách người nộp thuế cá nhân</h4>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <form id="sendMail">
          <button class="btn btn-danger" type="submit" style="font-weight: bold;">GỬI THÔNG BÁO</button>
        </form>
        <div style="text-align: right;">
            <div style="display: none;">
                
          <a href="#" class="btn btn-danger" style="color: white; font-weight: bold; margin-top: 3px;" >Thông báo</a>
        </div>
        <table class="table table-bordered mt-3 table-striped">
          <tr style="text-align: center;font-weight: bold;  background-color: #2886d3; color: white;"  >
            <th style="font-weight: bolder;">STT</th>
            <th style="font-weight: bolder;">Mã số thuế</th>
            <th style="font-weight: bolder;">Họ tên NNT</th>
            <th style="font-weight: bolder;">Căn cước công dân</th>
            <th style="font-weight: bolder;">Email</th>
            <th style="font-weight: bolder;">Cơ quan thuế Tỉnh/TP</th>
            <th style="font-weight: bolder;">Điện thoại</th>
          </tr>
          <% let totalIndex = 0; %>
          <% if (result && result.length > 0) { %>
          <% result.forEach((user, index)=> { %>
          <tr style="text-align: center;">
            <td><%= index+1 %> </td>
            <td><%= user.tochuc.masothue %></td>
            <td><%= user.tochuc.tentochuc %> </td>
            <td><%= user.tochuc.daidien %></td>
            <td><%= user.tochuc.email %></td>
            <td><%= user.tochuc.cqqtthue%></td>
            <td><%= user.tochuc.phone %></td>
         
            <% totalIndex++; %>
          </tr>
          <% }) %>
          
          <% } else {  %> 
            <td colspan="10" style="text-align: center; background-color: rgb(220, 229, 229); font-size: 16px;">Không có dữ liệu hiển thị</td>
            <% } %>
           
          <h5>Tổng cộng: <%= totalIndex %></h5>
        </table>

        <!-- Modal -->
        <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Thành công!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p id="successMessage"></p>
              </div>
            </div>
          </div>
        </div>

      </div>

</body>

<script src="js/admin.js"></script>

<script>
  document.getElementById('sendMail').addEventListener('submit', async function (event) {
    event.preventDefault();

    // Sử dụng SweetAlert để yêu cầu xác nhận
    Swal.fire({
      title: 'Gửi thông báo?',
      text: 'Qúa trình gửi thông báo đến email người dùng sẽ mất một chút thời gian. Chọn "Đồng ý" để tiếp tục.',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Đồng ý',
      cancelButtonText: 'Hủy bỏ',
    }).then(async (result) => {
      if (result.isConfirmed) {
        try {
          const response = await fetch('/admin/send-email-to-chuc', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
          });

          if (!response.ok) {
            throw new Error('Network response was not ok');
          }

          const result = await response.json();

          if (result.success) {
            Swal.fire({
              icon: 'success',
              title: 'Đã gửi',
              text: result.message,
            }).then(() => {
              window.location.href = '/admin/danh-sach-to-chuc-tre-han-qtt';
            });
          } else {
            Swal.fire({
              icon: 'error',
              title: 'Error',
              text: result.message,
            });
          }
        } catch (error) {
          console.error('Error:', error);
          Swal.fire({
            icon: 'error',
            title: 'Error',
            text: 'Something went wrong. Please try again later.',
          });
        }
      }
    });
  });
</script>


</html>