<html lang="en">
    <style scoped>
        /* Đặt lớp CSS hidden */
        .step.hidden {
          display: none;
        }
    
        .step {
          background-color: white;
        }
    
        .khungtong {
          box-shadow: 0px 0px 15px #ccc;
          margin: auto;
          font-size: 13px;
        }
      </style>
<body>
  <div class="container">
    <div class="khungtong">
      <header>
        <%- include('./partials/header') -%>
      </header>
      <div class="container-fluid" style="width: 550px; margin-top: 1pc; margin-bottom: 1pc;">
        <div class="card bg-glass" style="border-radius: 5px;">
          <nav style="color: #b9deff; background-color: #2886d3; height: 30px; border-radius: 5px; text-align: center;">
            <p style="margin-top: 2px; color: white; font-size: 18px; font-weight: 600;">Đổi mật khẩu</p>
          </nav>
          <% if (messages.success) { %>
            <span style="margin-right: 25px; margin-left: 25px; margin-top: 25px; font-size: 16px; color: seagreen;" class="alert alert-success"><%= messages.success[0] %></span>
          <% } %>
          <div class="card-body px-4 py-5 px-md-5">
            <form action="/to-chuc-doi-mat-khau/<%= user.id %>" method="post">
                <input type="text" name="id" value="<%= user.id %>" style="display: none;">

              <div class="all-steps" id="all-steps"><span class="step"></span> <span class="step"></span>
              </div>
              <p style="margin-bottom: 5px; font-size: 15px;">Mật khẩu hiện tại <font style="color: red;">(*)</font></p>
                <div class="input-group">
                  <input type="password" id="password" name="oldPassword" class="form-control" placeholder="Nhập mật khẩu hiện tại" required>
                </div><br>
                <% if (messages.oldPasswordError) { %>
                    <p style=" font-size: 16px; color: red;" ><%= messages.oldPasswordError[0] %></p>
                  <% } %>


                <p style="margin-bottom: 5px; font-size: 15px;">Mật khẩu mới <font style="color: red;">(*)</font></p>
                <div class="input-group">
                    <input type="password" id="password" name="newPassword" class="form-control" placeholder="Nhập mật khẩu mới" required>
                  </div><br>
                  <% if (messages.newPasswordError) { %>
                    <p style=" font-size: 16px; color: red;" ><%= messages.newPasswordError[0] %></p>
                  <% } %>
                  <p style="margin-bottom: 5px; font-size: 15px;">Nhập lại mật khẩu <font style="color: red;">(*)</font></p>
                  <div class="input-group">
                    <input type="password" id="password" name="confirmPassword" class="form-control" placeholder="Nhập lại mật khẩu" required>
                  </div>
                  <% if (messages.confirmPasswordError) { %>
                    <p style=" font-size: 16px; color: red;" ><%= messages.confirmPasswordError[0] %></p> <% } %>
              <br><br>
              <button type="submit" class="btn btn-primary">
                Đổi mật khẩu
              </button>
            </form>

          </div>
        </div>
        <br><br><br>
        <!--PHẦN NỘI DUNG-->
      </div>
    </div>
    <footer>
      <%- include('../partials/footer') %>
    </footer>

</body>

</html>