<html lang="en">

<head>
    <%- include('head') %>
</head>
<style scoped>
    .home {
      font-size: 14px;
      text-align: justify;
      margin-left: 25px;
      
    }
    .home p {
      font-weight: bold;
    }
  </style>
<body>
    <div class="container">
        <div class="khungtong">
            <!--phan header-->
            <header>
                <%- include('./partials/header') -%>
            </header>
            <div class="container-fluid" style="width: 900px; margin-top: 1pc; margin-bottom: 1pc;">
                <div class="card">
                    <div class="card-header">
                      <h5> Thông tin doanh nghiệp/tổ chức</h5>
                    </div>
                    <div class="card-body">
                      <div style="text-align: right;"><a href="/tochuc/cap-nhat-thong-tin" class="card-title" style="text-align: right; ">Chỉnh sửa thông tin <i class="fas fa-pencil"></i></a></div>
                      <div class="home">
                        <div class="row">
                          <div class="col">
                            <p>Tên đơn vị </p>
                          </div>
                          <div class="col-9">
                            <%= user.to_chuc.tentochuc %>
                          </div>
                        </div>
          
                        <div class="row">
                          <div class="col">
                            <p>Mã số thuế </p>
                          </div>
                          <div class="col-9">
                            <%= user.to_chuc.masothue %>
                          </div>
                        </div>
          
                        <div class="row">
                          <div class="col">
                            <p>Đại diện đơn vị </p>
                          </div>
                          <div class="col-9">
                            <%= user.to_chuc.daidien %>
                          </div>
                        </div>
          
                        <div class="row">
                          <div class="col">
                            <p>Ngành nghề kinh doanh </p>
                          </div>
                          <div class="col-9">
                            <%= user.to_chuc.linhvuc %>
                          </div>
                        </div>
          
                        <div class="row">
                          <div class="col">
                            <p>Email </p>
                          </div>
                          <div class="col-9">
                            <%= user.to_chuc.email %>
                          </div>
                        </div>
          
                        <div class="row">
                          <div class="col">
                            <p>Điện thoại </p>
                          </div>
                          <div class="col-9">
                            <%= user.to_chuc.phone %>
                          </div>
                        </div>
                        
                        <div class="row">
                          <div class="col">
                            <p>Địa chỉ </p>
                          </div>
                          <div class="col-9">
                            <%= user.to_chuc.address %>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <p>Cơ quan quản lý thuế </p>
                          </div>
                          <div class="col-9">
                            <%= user.to_chuc.cqqtthue %>
                          </div>
                        </div>
          
                        <div class="row">
                          <div class="col">
                            <p>Số lượng nhân viên</p>
                          </div>
                          <div class="col-9">
                            <%= user.to_chuc.nhanvien %>
                          </div>
                        </div>


                      </div>
                    </div>
                  </div>
                <br><br><br>
                <!--PHẦN NỘI DUNG-->
            </div>
        </div>
        <footer>
            <%- include('../partials/footer') %>
        </footer>
        <script src="js/formwizard.js"></script>

</body>

</html>