<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
  <%- include('head') %>
</head>

<body>
  <div class="container">
    <div class="khungtong">
      <!--phan header-->
      <header>
        <%- include('./partials/header') -%>
      </header>
      <!--phan header-->
      <h4 style="text-align: left;"> Thông tin doanh nghiệp kê khai trả trả lương cho cá nhân/tổ chức</h4>
      <!--PHẦN NỘI DUNG-->
      <div class="container-fluid" style="margin-top: 1pc; margin-bottom: 1pc;">
        <div class="input-group" style="margin-left: 20px; width: 250px;">
          <input class="form-control"type="search" id="search-input" placeholder=" Tìm kiếm...">
          <button class="btn btn-primary"><i class="fas fa-search" ></i></button>
        </div>
        <h5 style="font-size: 16px; text-align: right; margin-right: 15px;">Tổng cộng: </h5>
        <table   class="table table-striped table-bordered mt-3 "  id="data-table" style="text-align: center;">
          <thead>
            <th></th>
            <th>STT</th>
            <th style="display: none;">ID</th>
            <th>Họ tên</th>
            <th>Mã số thuế</th>
            <th>Địa chỉ</th>
            <th>Email</th>
            <th>Điện thoại</th>
            <th>Thu nhập tính thuế</th>
            <th>Action</th>
          </thead>
          <tbody>
            <% data.forEach((data, index) => { %>
              <tr>
                <td><input type="checkbox" name="" id=""></td>
                <td><%= index + 1 %></td>
                <td style="display: none;"><%= data.id %></td>
                <td><%= data.hoten %></td>
                <td><%= data.masothue %></td>
                <td><%= data.diachi %></td>
                <td><%= data.email %></td>
                <td><%= data.dienthoai %></td>
                <td><%= data.thunhaptinhthue %></td>
                <td>
                    <a  href="#" class="edit-user" data-toggle="modal" data-target="#editModal" data-id="<%= data.id %>">
                      <i class="fas fa-edit"></i>
                    </a>
                    <a href="/delete-nv/<%= data.id %>"><i class="fas fa-trash"></i></a>
                </td>
              </tr>
            <% }) %>
            
          </tbody>
        </table>
        <%- include('update_modal.ejs') %>
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
        <br><br><br>
        <!--PHẦN NỘI DUNG-->
      </div>
    </div>
    <footer>
      <%- include('../partials/footer') %>
    </footer>
    <script>
      const searchInput = document.getElementById('search-input');
      const dataTable = document.getElementById('data-table');
      searchInput.addEventListener('input', function() {
        const searchTerm = searchInput.value.toLowerCase();
        const rows = dataTable.querySelectorAll('tbody tr');
    
        rows.forEach(row => {
          const columns = row.querySelectorAll('td');
          let found = false;
    
          columns.forEach(column => {
            if (column.textContent.toLowerCase().includes(searchTerm)) {
              found = true;
            }
          });
    
          if (found) {
            row.style.display = '';
          } else {
            row.style.display = 'none';
          }
        });
      });
    </script>
</body>
<script>
document.querySelectorAll('.edit-user').forEach(function(editLink) {
    editLink.addEventListener('click', function() {
        const id = this.getAttribute('data-id');
        const modal = document.getElementById("editModal");
        const modalTitle = modal.querySelector('.modal-title');
        const editUserId = modal.querySelector('#editUserId');
        const hoten = modal.querySelector('#hoten');
        const masothue = modal.querySelector('#masothue');
        const diachi = modal.querySelector('#diachi');
        const cccd = modal.querySelector('#cccd');
        const email = modal.querySelector('#email');
        const dienthoai = modal.querySelector('#dienthoai');
        const thunhaptinhthue = modal.querySelector('#thunhaptinhthue');
        const ghichu = modal.querySelector('#ghichu');
        const nldIdInput = modal.querySelector('#nldId');
        nldIdInput.value = id;

        //Fetch API để lấy dữ liệu từ server theo userId
        fetch(`/tochuc/update/${id}`)
            .then(response => response.json())
            .then(data => {
                if (data) {
                    modalTitle.textContent = `Duyệt khai quyêt toán thuế thu nhập cá nhân mẫu 02/QTT-TNCN - Tờ khai số:${data.excelupload.id}`;
                    editUserId.value = data.excelupload.id;
                    thunhaptinhthue.value = data.excelupload.thunhaptinhthue;
                    ghichu.value = data.excelupload.ghichu;
                    hoten.value = data.excelupload.hoten;
                    masothue.value = data.excelupload.masothue;
                    cccd.value = data.excelupload.cccd;
                    email.value = data.excelupload.email;
                    dienthoai.value = data.excelupload.dienthoai;
                    diachi.value = data.excelupload.diachi;
                }
            });
    });
});

function updateNhanvien() {
    // Lấy dữ liệu từ các trường form
    var editUserId = document.getElementById('nldId').value;
    var thunhaptinhthue = document.getElementById('thunhaptinhthue').value;
    var ghichu = document.getElementById('ghichu').value;
    var hoten = document.getElementById('hoten').value;
    var masothue = document.getElementById('masothue').value;
    var cccd = document.getElementById('cccd').value;
    var email = document.getElementById('email').value;
    var dienthoai = document.getElementById('dienthoai').value;
    var diachi = document.getElementById('diachi').value;

    // Tạo một đối tượng chứa dữ liệu cập nhật
    var updateData = {
        id: editUserId,
        thunhaptinhthue: thunhaptinhthue,
        ghichu: ghichu,
        hoten: hoten,
        masothue: masothue,
        cccd: cccd,
        email: email,
        dienthoai: dienthoai,
        diachi: diachi
    };

    fetch(`/update/nv/${editUserId}`, {
        method: 'POST', 
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(updateData),
    })
    .then(response => response.json())
    .then(data => {
        alert("Cập nhật thông tin thành công!");
        location.reload();
    })
    .catch(error => {
        console.error('Lỗi khi cập nhật:', error);
    });
}

</script>

<script src="js/index.js"></script>

</html>