<html lang="en">

<head>
  <%- include('./partials/head') %>
</head>

<body>
  <div class="container">
    <div class="khungtong">
      <header>
        <%- include('./partials/header') -%>
      </header>
      <div class="container-fluid" style="width: 550px; margin-top: 1pc; margin-bottom: 1pc;">
        <div class="card bg-glass" style="border-radius: 5px;">
          <nav style="color: #b9deff; background-color: #2886d3; height: 30px; border-radius: 5px; text-align: center;">
            <p style="margin-top: 4px; color: white;">Đổi mật khẩu</p>
          </nav>
          <% if (messages.success) { %>
            <span style="margin-right: 25px; margin-left: 25px; margin-top: 25px; font-size: 16px; color: seagreen;" class="alert alert-success"><%= messages.success[0] %></span>
          <% } %>
          <div class="card-body px-4 py-5 px-md-5">
            <form action="change-password/<%= user.id %>" method="post">
                <input type="text" name="id" value="<%= user.id %>" style="display: none;">

              <div class="all-steps" id="all-steps"><span class="step"></span> <span class="step"></span>
              </div>
              <p style="margin-bottom: 5px; font-size: 15px;">Mật khẩu hiện tại</p>
                <div class="input-group">
                  <input type="password" id="password" name="oldPassword" class="form-control" placeholder="Enter password">
                </div><br>
                <% if (messages.oldPasswordError) { %>
                    <p style=" font-size: 16px; color: red;" ><%= messages.oldPasswordError[0] %></p>
                  <% } %>


                <p style="margin-bottom: 5px; font-size: 15px;">Mật khẩu mới</p>
                <div class="input-group">
                    <input type="password" id="password" name="newPassword" class="form-control" placeholder="Enter new password">
                  </div><br>
                  <% if (messages.newPasswordError) { %>
                    <p style=" font-size: 16px; color: red;" ><%= messages.newPasswordError[0] %></p>
                  <% } %>
                  <p style="margin-bottom: 5px; font-size: 15px;">Nhập lại mật khẩu</p>
                  <div class="input-group">
                    <input type="password" id="password" name="confirmPassword" class="form-control" placeholder="Confirm password">
                  </div>
                  <% if (messages.confirmPasswordError) { %>
                    <p style=" font-size: 16px; color: red;" ><%= messages.confirmPasswordError[0] %></p> <% } %>
              <br><br>
              <button type="submit" class="btn btn-primary">
                Đổi mật khẩu
              </button>
            </form>

          </div>
        </div>
        <br><br><br>
        <!--PHẦN NỘI DUNG-->
      </div>
    </div>
    <footer>
      <%- include('../partials/footer') %>
    </footer>
    <script src="js/formwizard.js"></script>
    <script>
      function togglePasswordVisibility() {
        var passwordField = document.getElementById("password");
        var passwordIcon = document.getElementById("password-icon");
  
        if (passwordField.type === "password") {
          passwordField.type = "text";
          passwordIcon.className = "fa fa-eye-slash";
        } else {
          passwordField.type = "password";
          passwordIcon.className = "fa fa-eye";
        }
      }
    </script>
</body>

</html>