<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <div class="container">
        <div class="khungtong">
            <header>
                <%- include('../partials/header') -%>
            </header>
            <div class="container-fluid" style=" width: 900px;margin-top: 1pc; margin-bottom: 1pc;">
                <div class="card">
                    <h5 class="card-header"
                        style="text-align: center;  background-color: #2886d3; color: white; font-size: 16px;">Đăng ký
                        tài khoản lần đầu</h5>
                    <div class="card-body">

                        <form action="/xac-nhan" method="post">
                            
                            <div class="row mt-3">
                                <div class="col"></div>
                                <div class="col-3" style="text-align: right;">
                                    <label for="" style="font-size: 16px; text-align: right;" >Mã số thuế <font style="color: red;">(*)
                                        </font></label>
                                </div>
                                <div class="col-7">
                                    <input type="text" name="masothue" class="form-control" value="<%= user.masothue %>">
                                </div>
                                <div class="col"></div>
                            </div>

                            <div class="row mt-3">
                                <div class="col"></div>
                                <div class="col-3" style="text-align: right;">
                                    <label for="" style="font-size: 16px;">Họ tên NNT: <font style="color: red;">(*)
                                        </font></label>
                                </div>
                                <div class="col-7">
                                    <input type="text" name="fullname" class="form-control" value="<%= user.fullname %>">
                                </div>
                                <div class="col"></div>
                            </div>

                            <div class="row mt-3">
                                <div class="col"></div>
                                <div class="col-3" style="text-align: right;">
                                    <label for="" style="font-size: 16px;">Email: <font style="color: red;">(*)</font>
                                        </label>
                                </div>
                                <div class="col-7">
                                    <input type="text" name="email" class="form-control" value="<%= user.email %>">
                                </div>
                                <div class="col"></div>
                            </div>

                            <div class="row mt-3">
                                <div class="col"></div>
                                <div class="col-3" style="text-align: right;">
                                    <label for="" style="font-size: 16px;">Điện thoại: <font style="color: red;">(*)
                                        </font></label>
                                </div>
                                <div class="col-7">
                                    <input type="text" name="phone" class="form-control" value="<%= user.phone %>">
                                </div>
                                <div class="col"></div>
                            </div>

                            <div class="row mt-3">
                                <div class="col"></div>
                                <div class="col-3" style="text-align: right;">
                                    <label for="" style="font-size: 16px;">Địa chỉ: <font style="color: red;">(*)
                                        </font></label>
                                </div>
                                <div class="col-7">
                                    <input type="text" name="tinh_tp" class="form-control" value="<%= user.dia_chi.tinh_tp %>">
                                </div>
                                <div class="col"></div>
                            </div>
                            <div class="row mt-3">
                                <div class="col"></div>
                                <div class="col-3" style="text-align: right;">
                                    <label for="" style="font-size: 16px;">Cơ quan quản lý thuế: <font style="color: red;">(*)
                                        </font></label>
                                </div>
                                <div class="col-7">
                                    <input type="text" name="cqqtthue" class="form-control" value="<%= user.cqqtthue %>">
                                </div>
                                <div class="col"></div>
                            </div>

                            <div class="row mt-3">
                              <div class="col"></div>
                              <div class="col-3" style="text-align: right;">
                                <label for="" style="font-size: 16px;">Mã OTP: <font style="color: red;">(*)</font>
                                </label>
                              </div>
                              <div class="col-7">
                                <input type="text" name="otp" class="form-control">
                              </div>
                              <div class="col"></div>
                            </div>
                        </div>

                    <div class="container text-center mt-5">
                        <a href="/otp" class="btn mx-auto" style="width: 150px; background-color: #2886d3; color: white;">Quay lại</a>
                        <button class="btn mx-auto" style="width: 150px; background-color: #2886d3; color: white;">Xác nhận</button>
                    </div>
                    <br><br><br>
                    </form>
                </div>
            </div>
            <br><br><br>
        </div>
    </div>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
    <script src="js/index.js"></script>

</body>

</html>