<html lang="en">

<head>
  <%- include('./partials/head') %>

  <style scoped>
    .home {
      font-size: 14px;
      text-align: justify;
      margin-left: 25px;
      
    }
    .home p {
      font-weight: bold;
    }
  </style>

</head>
<body>
  <div class="container">
    <div class="khungtong">
      <header>
        <%- include('./partials/header') -%>
      </header>
      <div class="container-fluid" style="width: 950px; margin-top: 1pc; margin-bottom: 1pc;">
        <div class="card">
          <div class="card-header">
            <h5> Thông tin người dùng</h5>
          </div>
          <div class="card-body">
            <div style="text-align: right;"><a href="/edit-profile" class="card-title" style="text-align: right; ">Chỉnh sửa thông tin <i class="fas fa-pencil"></i></a></div>
            <div class="home">
              <div class="row">
                <div class="col">
                  <p>Họ và tên: </p>
                </div>
                <div class="col-9">
                    <%= user.ca_nhan.fullname%>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p>Mã số thuế </p>
                </div>
                <div class="col-9">
                    <%= user.ca_nhan.masothue%>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p>Email: </p>
                </div>
                <div class="col-9">
                    <%= user.ca_nhan.email%>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p>Điện thoại: </p>
                </div>
                <div class="col-9">
                    <%= user.ca_nhan.phone%>
                </div>
              </div>
              
              <div class="row">
                <div class="col">
                  <p>Địa chỉ: </p>
                </div>
                <div class="col-9">
                    <%= user.ca_nhan.dia_chi.xa_phuong%>, <%= user.ca_nhan.dia_chi.quan_huyen%>,   <%= user.ca_nhan.dia_chi.tinh_tp%>
                </div>
              </div>


              <div class="row">
                <div class="col">
                  <p>Cơ quan quản lý thuế </p>
                </div>
                <div class="col-9">
                    <%= user.ca_nhan.cqqtthue%>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <p>Số người phụ thuộc: </p>
                </div>
                <div class="col-9">
                    <%= user.ca_nhan.phuthuoc%>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <br><br><br>
    </div>
  </div>
  <footer>
    <%- include('../partials/footer') %>
  </footer>
  <script src="js/formwizard.js"></script>

</body>

</html>